.navContainer {
    padding: 10px 0px;
    position: fixed;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1111;

    .navDock {
        border-radius: 8px;
        width: max-content !important;
        .status {
            border: 8px;
        }
    }
}
